# Database Views

Presented below are the views crafted for the spend_save database. These views serve as informative "reports," providing convenient access and analysis of summarized data pertaining to my spending patterns and account balances. To showcase the creation process and the respective outputs of each view, I opted to utilize Jupyter Lab along with the sql magic command. If you are interested in examining or executing the SQL script employed to establish these views, please refer to the [views creation script](views_creation_script.sql).

Please note that the results produced by the queries presented below do not reflect my personal financial information. Before executing these queries, fictitious transactions were deliberately introduced into the database to safeguard privacy.

## Setup

In order to execute the SQL code within Jupyter Lab, a few setup steps are necessary. Firstly, we need to install and load the SQL IPython module, enabling the execution of SQL code. Additionally, we need to establish a connection to the database. It is worth noting that the "%" symbol is utilized to indicate a single line of a Jupyter magic command, while "%%" designates the entire cell as a magic command.

In [32]:
# Install and run the ipython sql module to run sql code
!pip install ipython-sql 
%load_ext sql

Requirement already satisfied: ipython-sql in c:\users\weism\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\weism\anaconda3\lib\site-packages (from ipython-sql) (3.8.0)
Requirement already satisfied: six in c:\users\weism\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: sqlparse in c:\users\weism\anaconda3\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\weism\anaconda3\lib\site-packages (from ipython-sql) (2.0.16)
Requirement already satisfied: ipython in c:\users\weism\anaconda3\lib\site-packages (from ipython-sql) (8.10.0)
Requirement already satisfied: ipython-genutils in c:\users\weism\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\weism\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\weism\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.4.0)
Requirement already satisfied: traitlets>=5 in c:\users\weism\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: jedi>=0.16 in c:\users\weism\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.30 in c:\users\weism\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\weism\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: matplotlib-inline in c:\users\weism\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: decorator in c:\users\weism\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: stack-data in c:\users\weism\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\weism\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: colorama in c:\users\weism\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: backcall in c:\users\weism\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\weism\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\weism\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\weism\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\weism\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\weism\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [34]:
# Connect to spend_save database using pymysql(Note: Password has been hidden after running code)
%sql mysql+pymysql://root:****@localhost/spend_save

## Creation and Sample Output

See how each view was created and the output produced below:

### monthly_spend_summary

Shows total spent per month, increase from prior month, and the running total for the year the month is in.

In [26]:
%%sql

CREATE VIEW monthly_spend_summary AS
# CTE to perform initial aggregation
WITH cte AS (
    SELECT
        d.month_number,
        d.month_name AS month,
        d.year,
        # Take absolute value since transaction_amount is negative for purchases
        SUM(ABS(tf.transaction_amount)) AS month_amount_spent
    FROM transaction_facts AS tf
    JOIN transaction_type AS t 
        USING (transaction_type_id)
    # Inner join with category filters out all transactions that are not purchases
    JOIN category AS c
        USING (category_id)
    JOIN date AS d 
        USING (short_date)
    # Not interested in 2022
    WHERE d.year != '2022'
    GROUP BY month, d.month_number, d.year
    ORDER BY d.year, d.month_number
)
SELECT
    *,
    # Calculate dollar increase from prior month as decimal
    ROUND((month_amount_spent - LAG(month_amount_spent)
                                    OVER (ORDER BY year, month_number))
        / LAG(month_amount_spent) OVER (ORDER BY year, month_number),
          2) AS prior_month_change,
    # Calculate yearly running total spent
    SUM(month_amount_spent)
        OVER (
            PARTITION BY year
            ORDER BY year, month_number
        ) AS yearly_running_total
FROM cte;

 * mysql+pymysql://root:***@localhost/spend_save
0 rows affected.

[]

In [48]:
%%sql

# Output
SELECT *
FROM monthly_spend_summary

 * mysql+pymysql://root:***@localhost/spend_save
6 rows affected.

[(1, 'January', 2023, Decimal('3554.27'), None, Decimal('3554.27')),
 (2, 'February', 2023, Decimal('3284.54'), Decimal('-0.08'), Decimal('6838.81')),
 (3, 'March', 2023, Decimal('4094.22'), Decimal('0.25'), Decimal('10933.03')),
 (4, 'April', 2023, Decimal('2603.66'), Decimal('-0.36'), Decimal('13536.69')),
 (5, 'May', 2023, Decimal('2366.55'), Decimal('-0.09'), Decimal('15903.24')),
 (6, 'June', 2023, Decimal('1522.43'), Decimal('-0.36'), Decimal('17425.67'))]

### monthly_spend_category

Shows how much was spent per category per month.

In [9]:
%%sql

CREATE VIEW monthly_spend_category AS
SELECT
    d.year,
    d.month_number,
    d.month_name,
    c.category_description,
    # Take absolute value since transaction_amount is negative for purchases
    SUM(ABS(tf.transaction_amount)) AS monthly_spend,
    # Rank spending per category by month and year
    RANK()
        OVER(
        PARTITION BY month_number, month_name, year 
            ORDER BY ABS(SUM(tf.transaction_amount)) DESC
        ) AS month_ranking
FROM transaction_facts AS tf
# Inner join with category filters out all non-purchase transactions
JOIN category AS c
    USING (category_id)
JOIN account AS a 
    USING (account_id)
JOIN transaction_type AS t 
    USING (transaction_type_id)
JOIN date AS d 
    USING (short_date)
# Not interested in 2022
WHERE d.year != '2022'
GROUP BY month_number, month_name, year, category_description
ORDER BY year, month_number, month_ranking;

 * mysql+pymysql://root:***@localhost/spend_save
0 rows affected.

[]

In [47]:
%%sql

# Output
SELECT *
FROM monthly_spend_category
WHERE month_number < 3        # Limit output to first 2 months due to large amount of data

 * mysql+pymysql://root:***@localhost/spend_save
30 rows affected.

[(2023, 1, 'January', 'automotive', Decimal('1092.83'), 1),
 (2023, 1, 'January', 'food & drink', Decimal('870.74'), 2),
 (2023, 1, 'January', 'travel', Decimal('315.30'), 3),
 (2023, 1, 'January', 'shopping', Decimal('310.43'), 4),
 (2023, 1, 'January', 'home', Decimal('197.65'), 5),
 (2023, 1, 'January', 'personal', Decimal('153.76'), 6),
 (2023, 1, 'January', 'gas', Decimal('118.81'), 7),
 (2023, 1, 'January', 'groceries', Decimal('106.61'), 8),
 (2023, 1, 'January', 'health & wellness', Decimal('105.79'), 9),
 (2023, 1, 'January', 'bills & utilities', Decimal('74.23'), 10),
 (2023, 1, 'January', 'miscellaneous', Decimal('57.05'), 11),
 (2023, 1, 'January', 'gifts & donations', Decimal('51.89'), 12),
 (2023, 1, 'January', 'professional services', Decimal('49.58'), 13),
 (2023, 1, 'January', 'education', Decimal('44.56'), 14),
 (2023, 1, 'January', 'entertainment', Decimal('5.04'), 15),
 (2023, 2, 'February', 'groceries', Decimal('1689.66'), 1),
 (2023, 2, 'February', 'food & drink', Decimal('611.69'), 2),
 (2023, 2, 'February', 'travel', Decimal('283.32'), 3),
 (2023, 2, 'February', 'health & wellness', Decimal('252.63'), 4),
 (2023, 2, 'February', 'entertainment', Decimal('76.18'), 5),
 (2023, 2, 'February', 'home', Decimal('74.32'), 6),
 (2023, 2, 'February', 'education', Decimal('64.90'), 7),
 (2023, 2, 'February', 'gifts & donations', Decimal('53.73'), 8),
 (2023, 2, 'February', 'automotive', Decimal('43.59'), 9),
 (2023, 2, 'February', 'gas', Decimal('38.27'), 10),
 (2023, 2, 'February', 'professional services', Decimal('34.77'), 11),
 (2023, 2, 'February', 'miscellaneous', Decimal('23.02'), 12),
 (2023, 2, 'February', 'personal', Decimal('21.48'), 13),
 (2023, 2, 'February', 'shopping', Decimal('10.12'), 14),
 (2023, 2, 'February', 'bills & utilities', Decimal('6.86'), 15)]

### monthly_account_balances

Shows the balance of checking account, savings account, and credit card at end of every month.

In [13]:
%%sql

CREATE VIEW monthly_account_balances AS
SELECT
    # Combine month and year to get date period
    CONCAT(year, '-' , LPAD(month_number, 2, '0')) AS end_date_period,
    tf.account_id,
    account_type,
    # Running total represents account balances
    SUM(SUM(transaction_amount))
    OVER(
    PARTITION BY tf.account_id 
            ORDER BY CONCAT(year, '-' , LPAD(month_number, 2, '0'))
    ) AS balance
FROM transaction_facts AS tf
JOIN account 
    USING (account_id)
JOIN date 
    USING (short_date)
GROUP BY end_date_period, account_id, account_type
ORDER BY end_date_period;

 * mysql+pymysql://root:***@localhost/spend_save
0 rows affected.

[]

In [49]:
%%sql

# Output
SELECT *
FROM monthly_account_balances

 * mysql+pymysql://root:***@localhost/spend_save
21 rows affected.

[('2022-12', 1, 'credit card', Decimal('-1538.21')),
 ('2022-12', 2, 'checking', Decimal('8262.03')),
 ('2022-12', 3, 'saving', Decimal('10821.14')),
 ('2023-01', 1, 'credit card', Decimal('-1455.67')),
 ('2023-01', 2, 'checking', Decimal('24039.04')),
 ('2023-01', 3, 'saving', Decimal('11075.15')),
 ('2023-02', 1, 'credit card', Decimal('-1487.31')),
 ('2023-02', 2, 'checking', Decimal('34304.80')),
 ('2023-02', 3, 'saving', Decimal('13654.16')),
 ('2023-03', 1, 'credit card', Decimal('-1252.27')),
 ('2023-03', 2, 'checking', Decimal('28436.51')),
 ('2023-03', 3, 'saving', Decimal('19562.21')),
 ('2023-04', 1, 'credit card', Decimal('-1532.46')),
 ('2023-04', 2, 'checking', Decimal('25963.57')),
 ('2023-04', 3, 'saving', Decimal('26348.27')),
 ('2023-05', 1, 'credit card', Decimal('-738.68')),
 ('2023-05', 2, 'checking', Decimal('23030.25')),
 ('2023-05', 3, 'saving', Decimal('32344.45')),
 ('2023-06', 1, 'credit card', Decimal('-1580.19')),
 ('2023-06', 2, 'checking', Decimal('20880.90')),
 ('2023-06', 3, 'saving', Decimal('36127.45'))]

### daily_spend

Shows all transaction on a given day, 7 day running average amount spent, and yearly running amount spent.

In [44]:
%%sql

CREATE VIEW daily_spend AS
SELECT
    d.short_date,
    # Get daily spend amount. Take abs since transaction_amount is negative for purchases 
    # Assign 0 for days with no purchases.
    COALESCE(ABS(SUM(tf.transaction_amount)), 0) AS date_spend,
    # Get 7 day running average spent. Assign 0 to days with no transactions.    
    ROUND(AVG(ABS(SUM(COALESCE(tf.transaction_amount, 0))))
        OVER (
            ORDER BY short_date
            ROWS BETWEEN 6 PRECEDING AND CURRENT ROW
        ), 2) AS 7_day_avg_spend,
    # Sum total spent by year up to the current date
    SUM(ABS(SUM(tf.transaction_amount)))
        OVER (
            PARTITION BY d.year 
            ORDER BY short_date
        ) AS running_yearly_spend
# Select from date column to keep all dates, not just ones with purchases
FROM date AS d
# Use left join to keep dates mentioned above. Also need to filter out non-purchases since left join was used
LEFT JOIN transaction_facts AS tf
    ON d.short_date = tf.short_date
    AND tf.transaction_type_id IN (1,2)
WHERE d.short_date <= CURDATE()
    # Not interested in 2022
    AND year != '2022'
GROUP BY d.short_date
ORDER BY short_date;

 * mysql+pymysql://root:***@localhost/spend_save
0 rows affected.

[]

In [50]:
%%sql

# Output
SELECT *
FROM daily_spend

 * mysql+pymysql://root:***@localhost/spend_save
177 rows affected.

[(datetime.date(2023, 1, 1), Decimal('0.00'), Decimal('0.00'), None),
 (datetime.date(2023, 1, 2), Decimal('26.85'), Decimal('13.43'), Decimal('26.85')),
 (datetime.date(2023, 1, 3), Decimal('54.73'), Decimal('27.19'), Decimal('81.58')),
 (datetime.date(2023, 1, 4), Decimal('0.00'), Decimal('20.40'), Decimal('81.58')),
 (datetime.date(2023, 1, 5), Decimal('99.70'), Decimal('36.26'), Decimal('181.28')),
 (datetime.date(2023, 1, 6), Decimal('19.41'), Decimal('33.45'), Decimal('200.69')),
 (datetime.date(2023, 1, 7), Decimal('0.00'), Decimal('28.67'), Decimal('200.69')),
 (datetime.date(2023, 1, 8), Decimal('0.00'), Decimal('28.67'), Decimal('200.69')),
 (datetime.date(2023, 1, 9), Decimal('18.95'), Decimal('27.54'), Decimal('219.64')),
 (datetime.date(2023, 1, 10), Decimal('48.31'), Decimal('26.62'), Decimal('267.95')),
 (datetime.date(2023, 1, 11), Decimal('54.74'), Decimal('34.44'), Decimal('322.69')),
 (datetime.date(2023, 1, 12), Decimal('9.28'), Decimal('21.53'), Decimal('331.97')),
 (datetime.date(2023, 1, 13), Decimal('0.00'), Decimal('18.75'), Decimal('331.97')),
 (datetime.date(2023, 1, 14), Decimal('0.00'), Decimal('18.75'), Decimal('331.97')),
 (datetime.date(2023, 1, 15), Decimal('106.91'), Decimal('34.03'), Decimal('438.88')),
 (datetime.date(2023, 1, 16), Decimal('83.06'), Decimal('43.19'), Decimal('521.94')),
 (datetime.date(2023, 1, 17), Decimal('275.62'), Decimal('75.66'), Decimal('797.56')),
 (datetime.date(2023, 1, 18), Decimal('1042.04'), Decimal('216.70'), Decimal('1839.60')),
 (datetime.date(2023, 1, 19), Decimal('212.08'), Decimal('245.67'), Decimal('2051.68')),
 (datetime.date(2023, 1, 20), Decimal('253.46'), Decimal('281.88'), Decimal('2305.14')),
 (datetime.date(2023, 1, 21), Decimal('79.43'), Decimal('293.23'), Decimal('2384.57')),
 (datetime.date(2023, 1, 22), Decimal('157.63'), Decimal('300.47'), Decimal('2542.20')),
 (datetime.date(2023, 1, 23), Decimal('289.85'), Decimal('330.02'), Decimal('2832.05')),
 (datetime.date(2023, 1, 24), Decimal('197.65'), Decimal('318.88'), Decimal('3029.70')),
 (datetime.date(2023, 1, 25), Decimal('57.05'), Decimal('178.16'), Decimal('3086.75')),
 (datetime.date(2023, 1, 26), Decimal('125.20'), Decimal('165.75'), Decimal('3211.95')),
 (datetime.date(2023, 1, 27), Decimal('49.58'), Decimal('136.63'), Decimal('3261.53')),
 (datetime.date(2023, 1, 28), Decimal('174.27'), Decimal('150.18'), Decimal('3435.80')),
 (datetime.date(2023, 1, 29), Decimal('118.47'), Decimal('144.58'), Decimal('3554.27')),
 (datetime.date(2023, 1, 30), Decimal('0.00'), Decimal('103.17'), Decimal('3554.27')),
 (datetime.date(2023, 1, 31), Decimal('0.00'), Decimal('74.94'), Decimal('3554.27')),
 (datetime.date(2023, 2, 1), Decimal('0.00'), Decimal('66.79'), Decimal('3554.27')),
 (datetime.date(2023, 2, 2), Decimal('0.00'), Decimal('48.90'), Decimal('3554.27')),
 (datetime.date(2023, 2, 3), Decimal('0.00'), Decimal('41.82'), Decimal('3554.27')),
 (datetime.date(2023, 2, 4), Decimal('24.58'), Decimal('20.44'), Decimal('3578.85')),
 (datetime.date(2023, 2, 5), Decimal('94.96'), Decimal('17.08'), Decimal('3673.81')),
 (datetime.date(2023, 2, 6), Decimal('45.00'), Decimal('23.51'), Decimal('3718.81')),
 (datetime.date(2023, 2, 7), Decimal('89.10'), Decimal('36.23'), Decimal('3807.91')),
 (datetime.date(2023, 2, 8), Decimal('0.00'), Decimal('36.23'), Decimal('3807.91')),
 (datetime.date(2023, 2, 9), Decimal('0.00'), Decimal('36.23'), Decimal('3807.91')),
 (datetime.date(2023, 2, 10), Decimal('27.67'), Decimal('40.19'), Decimal('3835.58')),
 (datetime.date(2023, 2, 11), Decimal('49.96'), Decimal('43.81'), Decimal('3885.54')),
 (datetime.date(2023, 2, 12), Decimal('152.10'), Decimal('51.98'), Decimal('4037.64')),
 (datetime.date(2023, 2, 13), Decimal('22.70'), Decimal('48.79'), Decimal('4060.34')),
 (datetime.date(2023, 2, 14), Decimal('109.94'), Decimal('51.77'), Decimal('4170.28')),
 (datetime.date(2023, 2, 15), Decimal('1534.65'), Decimal('271.00'), Decimal('5704.93')),
 (datetime.date(2023, 2, 16), Decimal('35.12'), Decimal('276.02'), Decimal('5740.05')),
 (datetime.date(2023, 2, 17), Decimal('95.64'), Decimal('285.73'), Decimal('5835.69')),
 (datetime.date(2023, 2, 18), Decimal('91.22'), Decimal('291.62'), Decimal('5926.91')),
 (datetime.date(2023, 2, 19), Decimal('38.27'), Decimal('275.36'), Decimal('5965.18')),
 (datetime.date(2023, 2, 20), Decimal('53.73'), Decimal('279.80'), Decimal('6018.91')),
 (datetime.date(2023, 2, 21), Decimal('74.84'), Decimal('274.78'), Decimal('6093.75')),
 (datetime.date(2023, 2, 22), Decimal('182.96'), Decimal('81.68'), Decimal('6276.71')),
 (datetime.date(2023, 2, 23), Decimal('74.32'), Decimal('87.28'), Decimal('6351.03')),
 (datetime.date(2023, 2, 24), Decimal('62.04'), Decimal('82.48'), Decimal('6413.07')),
 (datetime.date(2023, 2, 25), Decimal('174.45'), Decimal('94.37'), Decimal('6587.52')),
 (datetime.date(2023, 2, 26), Decimal('97.41'), Decimal('102.82'), Decimal('6684.93')),
 (datetime.date(2023, 2, 27), Decimal('118.88'), Decimal('112.13'), Decimal('6803.81')),
 (datetime.date(2023, 2, 28), Decimal('35.00'), Decimal('106.44'), Decimal('6838.81')),
 (datetime.date(2023, 3, 1), Decimal('0.00'), Decimal('80.30'), Decimal('6838.81')),
 (datetime.date(2023, 3, 2), Decimal('0.00'), Decimal('69.68'), Decimal('6838.81')),
 (datetime.date(2023, 3, 3), Decimal('302.57'), Decimal('104.04'), Decimal('7141.38')),
 (datetime.date(2023, 3, 4), Decimal('360.31'), Decimal('130.60'), Decimal('7501.69')),
 (datetime.date(2023, 3, 5), Decimal('126.67'), Decimal('134.78'), Decimal('7628.36')),
 (datetime.date(2023, 3, 6), Decimal('23.47'), Decimal('121.15'), Decimal('7651.83')),
 (datetime.date(2023, 3, 7), Decimal('39.02'), Decimal('121.72'), Decimal('7690.85')),
 (datetime.date(2023, 3, 8), Decimal('0.00'), Decimal('121.72'), Decimal('7690.85')),
 (datetime.date(2023, 3, 9), Decimal('11.35'), Decimal('123.34'), Decimal('7702.20')),
 (datetime.date(2023, 3, 10), Decimal('0.00'), Decimal('80.12'), Decimal('7702.20')),
 (datetime.date(2023, 3, 11), Decimal('60.93'), Decimal('37.35'), Decimal('7763.13')),
 (datetime.date(2023, 3, 12), Decimal('201.33'), Decimal('48.01'), Decimal('7964.46')),
 (datetime.date(2023, 3, 13), Decimal('151.75'), Decimal('66.34'), Decimal('8116.21')),
 (datetime.date(2023, 3, 14), Decimal('0.00'), Decimal('60.77'), Decimal('8116.21')),
 (datetime.date(2023, 3, 15), Decimal('64.06'), Decimal('69.92'), Decimal('8180.27')),
 (datetime.date(2023, 3, 16), Decimal('123.77'), Decimal('85.98'), Decimal('8304.04')),
 (datetime.date(2023, 3, 17), Decimal('587.97'), Decimal('169.97'), Decimal('8892.01')),
 (datetime.date(2023, 3, 18), Decimal('601.76'), Decimal('247.23'), Decimal('9493.77')),
 (datetime.date(2023, 3, 19), Decimal('203.03'), Decimal('247.48'), Decimal('9696.80')),
 (datetime.date(2023, 3, 20), Decimal('158.92'), Decimal('248.50'), Decimal('9855.72')),
 (datetime.date(2023, 3, 21), Decimal('160.24'), Decimal('271.39'), Decimal('10015.96')),
 (datetime.date(2023, 3, 22), Decimal('83.01'), Decimal('274.10'), Decimal('10098.97')),
 (datetime.date(2023, 3, 23), Decimal('167.32'), Decimal('280.32'), Decimal('10266.29')),
 (datetime.date(2023, 3, 24), Decimal('52.38'), Decimal('203.81'), Decimal('10318.67')),
 (datetime.date(2023, 3, 25), Decimal('55.50'), Decimal('125.77'), Decimal('10374.17')),
 (datetime.date(2023, 3, 26), Decimal('59.64'), Decimal('105.29'), Decimal('10433.81')),
 (datetime.date(2023, 3, 27), Decimal('177.01'), Decimal('107.87'), Decimal('10610.82')),
 (datetime.date(2023, 3, 28), Decimal('120.08'), Decimal('102.13'), Decimal('10730.90')),
 (datetime.date(2023, 3, 29), Decimal('167.85'), Decimal('114.25'), Decimal('10898.75')),
 (datetime.date(2023, 3, 30), Decimal('0.00'), Decimal('90.35'), Decimal('10898.75')),
 (datetime.date(2023, 3, 31), Decimal('34.28'), Decimal('87.77'), Decimal('10933.03')),
 (datetime.date(2023, 4, 1), Decimal('21.18'), Decimal('82.86'), Decimal('10954.21')),
 (datetime.date(2023, 4, 2), Decimal('120.01'), Decimal('91.49'), Decimal('11074.22')),
 (datetime.date(2023, 4, 3), Decimal('83.99'), Decimal('78.20'), Decimal('11158.21')),
 (datetime.date(2023, 4, 4), Decimal('4.97'), Decimal('61.75'), Decimal('11163.18')),
 (datetime.date(2023, 4, 5), Decimal('139.58'), Decimal('57.72'), Decimal('11302.76')),
 (datetime.date(2023, 4, 6), Decimal('85.40'), Decimal('69.92'), Decimal('11388.16')),
 (datetime.date(2023, 4, 7), Decimal('125.88'), Decimal('83.00'), Decimal('11514.04')),
 (datetime.date(2023, 4, 8), Decimal('45.49'), Decimal('86.47'), Decimal('11559.53')),
 (datetime.date(2023, 4, 9), Decimal('67.37'), Decimal('78.95'), Decimal('11626.90')),
 (datetime.date(2023, 4, 10), Decimal('135.46'), Decimal('86.31'), Decimal('11762.36')),
 (datetime.date(2023, 4, 11), Decimal('58.04'), Decimal('93.89'), Decimal('11820.40')),
 (datetime.date(2023, 4, 12), Decimal('42.61'), Decimal('80.04'), Decimal('11863.01')),
 (datetime.date(2023, 4, 13), Decimal('172.25'), Decimal('92.44'), Decimal('12035.26')),
 (datetime.date(2023, 4, 14), Decimal('226.82'), Decimal('106.86'), Decimal('12262.08')),
 (datetime.date(2023, 4, 15), Decimal('144.49'), Decimal('121.01'), Decimal('12406.57')),
 (datetime.date(2023, 4, 16), Decimal('23.03'), Decimal('114.67'), Decimal('12429.60')),
 (datetime.date(2023, 4, 17), Decimal('0.00'), Decimal('95.32'), Decimal('12429.60')),
 (datetime.date(2023, 4, 18), Decimal('2.25'), Decimal('87.35'), Decimal('12431.85')),
 (datetime.date(2023, 4, 19), Decimal('103.41'), Decimal('96.04'), Decimal('12535.26')),
 (datetime.date(2023, 4, 20), Decimal('0.00'), Decimal('71.43'), Decimal('12535.26')),
 (datetime.date(2023, 4, 21), Decimal('36.14'), Decimal('44.19'), Decimal('12571.40')),
 (datetime.date(2023, 4, 22), Decimal('0.00'), Decimal('23.55'), Decimal('12571.40')),
 (datetime.date(2023, 4, 23), Decimal('18.16'), Decimal('22.85'), Decimal('12589.56')),
 (datetime.date(2023, 4, 24), Decimal('204.30'), Decimal('52.04'), Decimal('12793.86')),
 (datetime.date(2023, 4, 25), Decimal('0.00'), Decimal('51.72'), Decimal('12793.86')),
 (datetime.date(2023, 4, 26), Decimal('702.34'), Decimal('137.28'), Decimal('13496.20')),
 (datetime.date(2023, 4, 27), Decimal('9.28'), Decimal('138.60'), Decimal('13505.48')),
 (datetime.date(2023, 4, 28), Decimal('31.21'), Decimal('137.90'), Decimal('13536.69')),
 (datetime.date(2023, 4, 29), Decimal('0.00'), Decimal('137.90'), Decimal('13536.69')),
 (datetime.date(2023, 4, 30), Decimal('0.00'), Decimal('135.30'), Decimal('13536.69')),
 (datetime.date(2023, 5, 1), Decimal('33.98'), Decimal('110.97'), Decimal('13570.67')),
 (datetime.date(2023, 5, 2), Decimal('0.00'), Decimal('110.97'), Decimal('13570.67')),
 (datetime.date(2023, 5, 3), Decimal('0.00'), Decimal('10.64'), Decimal('13570.67')),
 (datetime.date(2023, 5, 4), Decimal('22.23'), Decimal('12.49'), Decimal('13592.90')),
 (datetime.date(2023, 5, 5), Decimal('75.17'), Decimal('18.77'), Decimal('13668.07')),
 (datetime.date(2023, 5, 6), Decimal('57.34'), Decimal('26.96'), Decimal('13725.41')),
 (datetime.date(2023, 5, 7), Decimal('26.47'), Decimal('30.74'), Decimal('13751.88')),
 (datetime.date(2023, 5, 8), Decimal('9.28'), Decimal('27.21'), Decimal('13761.16')),
 (datetime.date(2023, 5, 9), Decimal('0.00'), Decimal('27.21'), Decimal('13761.16')),
 (datetime.date(2023, 5, 10), Decimal('2.27'), Decimal('27.54'), Decimal('13763.43')),
 (datetime.date(2023, 5, 11), Decimal('8.60'), Decimal('25.59'), Decimal('13772.03')),
 (datetime.date(2023, 5, 12), Decimal('19.28'), Decimal('17.61'), Decimal('13791.31')),
 (datetime.date(2023, 5, 13), Decimal('0.00'), Decimal('9.41'), Decimal('13791.31')),
 (datetime.date(2023, 5, 14), Decimal('0.00'), Decimal('5.63'), Decimal('13791.31')),
 (datetime.date(2023, 5, 15), Decimal('108.44'), Decimal('19.80'), Decimal('13899.75')),
 (datetime.date(2023, 5, 16), Decimal('160.32'), Decimal('42.70'), Decimal('14060.07')),
 (datetime.date(2023, 5, 17), Decimal('10.90'), Decimal('43.93'), Decimal('14070.97')),
 (datetime.date(2023, 5, 18), Decimal('132.45'), Decimal('61.63'), Decimal('14203.42')),
 (datetime.date(2023, 5, 19), Decimal('77.66'), Decimal('69.97'), Decimal('14281.08')),
 (datetime.date(2023, 5, 20), Decimal('101.04'), Decimal('84.40'), Decimal('14382.12')),
 (datetime.date(2023, 5, 21), Decimal('73.25'), Decimal('94.87'), Decimal('14455.37')),
 (datetime.date(2023, 5, 22), Decimal('217.38'), Decimal('110.43'), Decimal('14672.75')),
 (datetime.date(2023, 5, 23), Decimal('68.30'), Decimal('97.28'), Decimal('14741.05')),
 (datetime.date(2023, 5, 24), Decimal('59.59'), Decimal('104.24'), Decimal('14800.64')),
 (datetime.date(2023, 5, 25), Decimal('354.75'), Decimal('136.00'), Decimal('15155.39')),
 (datetime.date(2023, 5, 26), Decimal('168.73'), Decimal('149.01'), Decimal('15324.12')),
 (datetime.date(2023, 5, 27), Decimal('302.09'), Decimal('177.73'), Decimal('15626.21')),
 (datetime.date(2023, 5, 28), Decimal('37.26'), Decimal('172.59'), Decimal('15663.47')),
 (datetime.date(2023, 5, 29), Decimal('239.77'), Decimal('175.78'), Decimal('15903.24')),
 (datetime.date(2023, 5, 30), Decimal('0.00'), Decimal('166.03'), Decimal('15903.24')),
 (datetime.date(2023, 5, 31), Decimal('0.00'), Decimal('157.51'), Decimal('15903.24')),
 (datetime.date(2023, 6, 1), Decimal('0.00'), Decimal('106.84'), Decimal('15903.24')),
 (datetime.date(2023, 6, 2), Decimal('0.00'), Decimal('82.73'), Decimal('15903.24')),
 (datetime.date(2023, 6, 3), Decimal('37.59'), Decimal('44.95'), Decimal('15940.83')),
 (datetime.date(2023, 6, 4), Decimal('0.00'), Decimal('39.62'), Decimal('15940.83')),
 (datetime.date(2023, 6, 5), Decimal('0.00'), Decimal('5.37'), Decimal('15940.83')),
 (datetime.date(2023, 6, 6), Decimal('0.00'), Decimal('5.37'), Decimal('15940.83')),
 (datetime.date(2023, 6, 7), Decimal('0.00'), Decimal('5.37'), Decimal('15940.83')),
 (datetime.date(2023, 6, 8), Decimal('0.00'), Decimal('5.37'), Decimal('15940.83')),
 (datetime.date(2023, 6, 9), Decimal('0.00'), Decimal('5.37'), Decimal('15940.83')),
 (datetime.date(2023, 6, 10), Decimal('0.00'), Decimal('0.00'), Decimal('15940.83')),
 (datetime.date(2023, 6, 11), Decimal('0.00'), Decimal('0.00'), Decimal('15940.83')),
 (datetime.date(2023, 6, 12), Decimal('0.00'), Decimal('0.00'), Decimal('15940.83')),
 (datetime.date(2023, 6, 13), Decimal('0.00'), Decimal('0.00'), Decimal('15940.83')),
 (datetime.date(2023, 6, 14), Decimal('0.00'), Decimal('0.00'), Decimal('15940.83')),
 (datetime.date(2023, 6, 15), Decimal('199.60'), Decimal('28.51'), Decimal('16140.43')),
 (datetime.date(2023, 6, 16), Decimal('201.03'), Decimal('57.23'), Decimal('16341.46')),
 (datetime.date(2023, 6, 17), Decimal('147.94'), Decimal('78.37'), Decimal('16489.40')),
 (datetime.date(2023, 6, 18), Decimal('171.39'), Decimal('102.85'), Decimal('16660.79')),
 (datetime.date(2023, 6, 19), Decimal('191.63'), Decimal('130.23'), Decimal('16852.42')),
 (datetime.date(2023, 6, 20), Decimal('139.90'), Decimal('150.21'), Decimal('16992.32')),
 (datetime.date(2023, 6, 21), Decimal('4.99'), Decimal('150.93'), Decimal('16997.31')),
 (datetime.date(2023, 6, 22), Decimal('116.63'), Decimal('139.07'), Decimal('17113.94')),
 (datetime.date(2023, 6, 23), Decimal('311.73'), Decimal('154.89'), Decimal('17425.67')),
 (datetime.date(2023, 6, 24), Decimal('0.00'), Decimal('133.75'), Decimal('17425.67')),
 (datetime.date(2023, 6, 25), Decimal('0.00'), Decimal('109.27'), Decimal('17425.67')),
 (datetime.date(2023, 6, 26), Decimal('0.00'), Decimal('81.89'), Decimal('17425.67'))]

### daily_category_balance

Calculates running total spent for each category per day. This view was created and imported into Power BI to run a specific visual. It is not intended for any other analysis.

In [22]:
%%sql

CREATE VIEW daily_category_balance AS
# CTE to generate all possible days and categories
WITH date_category AS (
    SELECT 
        d.short_date,
        c.category_id
    FROM date AS d
    CROSS JOIN (
        SELECT category_id
        FROM category
    ) AS c
    WHERE d.year != '2022'
        AND d.short_date <= CURDATE()
    ORDER BY short_date, category_id
)
SELECT 
	dc.short_date,
    dc.category_id,
    # Generate running total. Assign 0 for days with no purchases.
    SUM(COALESCE(SUM(ABS(tf.transaction_amount)), 0))
        OVER(
            PARTITION BY dc.category_id 
            ORDER BY dc.short_date 
        ) AS cumulative_sum
# Select from cte and left join other tables to keep all dates and categories from cte
FROM date_category AS dc
LEFT JOIN transaction_facts AS tf
    ON dc.short_date = tf.short_date
    AND dc.category_id = tf.category_id
LEFT JOIN transaction_type AS t
    ON tf.transaction_type_id = t.transaction_type_id
WHERE EXTRACT(year FROM dc.short_date) != '2022'
    AND dc.short_date <= CURDATE()
    AND (t.transaction_type_id IN (1, 2) OR t.transaction_type_id IS NULL)
GROUP BY dc.short_date, dc.category_id
ORDER BY dc.short_date, dc.category_id;

 * mysql+pymysql://root:***@localhost/spend_save
0 rows affected.

[]

In [51]:
%%sql

# Output
SELECT *
FROM daily_category_balance
LIMIT 150        # Limit output due to size of view table

 * mysql+pymysql://root:***@localhost/spend_save
150 rows affected.

[(datetime.date(2023, 1, 1), 1, Decimal('0.00')),
 (datetime.date(2023, 1, 1), 2, Decimal('0.00')),
 (datetime.date(2023, 1, 1), 3, Decimal('0.00')),
 (datetime.date(2023, 1, 1), 4, Decimal('0.00')),
 (datetime.date(2023, 1, 1), 6, Decimal('0.00')),
 (datetime.date(2023, 1, 1), 7, Decimal('0.00')),
 (datetime.date(2023, 1, 1), 8, Decimal('0.00')),
 (datetime.date(2023, 1, 1), 9, Decimal('0.00')),
 (datetime.date(2023, 1, 1), 10, Decimal('0.00')),
 (datetime.date(2023, 1, 1), 11, Decimal('0.00')),
 (datetime.date(2023, 1, 1), 12, Decimal('0.00')),
 (datetime.date(2023, 1, 1), 14, Decimal('0.00')),
 (datetime.date(2023, 1, 1), 15, Decimal('0.00')),
 (datetime.date(2023, 1, 1), 16, Decimal('0.00')),
 (datetime.date(2023, 1, 1), 17, Decimal('0.00')),
 (datetime.date(2023, 1, 2), 1, Decimal('0.00')),
 (datetime.date(2023, 1, 2), 2, Decimal('0.00')),
 (datetime.date(2023, 1, 2), 3, Decimal('0.00')),
 (datetime.date(2023, 1, 2), 4, Decimal('0.00')),
 (datetime.date(2023, 1, 2), 6, Decimal('10.78')),
 (datetime.date(2023, 1, 2), 7, Decimal('0.00')),
 (datetime.date(2023, 1, 2), 8, Decimal('0.00')),
 (datetime.date(2023, 1, 2), 9, Decimal('0.00')),
 (datetime.date(2023, 1, 2), 10, Decimal('16.07')),
 (datetime.date(2023, 1, 2), 11, Decimal('0.00')),
 (datetime.date(2023, 1, 2), 12, Decimal('0.00')),
 (datetime.date(2023, 1, 2), 14, Decimal('0.00')),
 (datetime.date(2023, 1, 2), 15, Decimal('0.00')),
 (datetime.date(2023, 1, 2), 16, Decimal('0.00')),
 (datetime.date(2023, 1, 2), 17, Decimal('0.00')),
 (datetime.date(2023, 1, 3), 1, Decimal('0.00')),
 (datetime.date(2023, 1, 3), 2, Decimal('0.00')),
 (datetime.date(2023, 1, 3), 3, Decimal('0.00')),
 (datetime.date(2023, 1, 3), 4, Decimal('0.00')),
 (datetime.date(2023, 1, 3), 6, Decimal('10.78')),
 (datetime.date(2023, 1, 3), 7, Decimal('54.73')),
 (datetime.date(2023, 1, 3), 8, Decimal('0.00')),
 (datetime.date(2023, 1, 3), 9, Decimal('0.00')),
 (datetime.date(2023, 1, 3), 10, Decimal('16.07')),
 (datetime.date(2023, 1, 3), 11, Decimal('0.00')),
 (datetime.date(2023, 1, 3), 12, Decimal('0.00')),
 (datetime.date(2023, 1, 3), 14, Decimal('0.00')),
 (datetime.date(2023, 1, 3), 15, Decimal('0.00')),
 (datetime.date(2023, 1, 3), 16, Decimal('0.00')),
 (datetime.date(2023, 1, 3), 17, Decimal('0.00')),
 (datetime.date(2023, 1, 4), 1, Decimal('0.00')),
 (datetime.date(2023, 1, 4), 2, Decimal('0.00')),
 (datetime.date(2023, 1, 4), 3, Decimal('0.00')),
 (datetime.date(2023, 1, 4), 4, Decimal('0.00')),
 (datetime.date(2023, 1, 4), 6, Decimal('10.78')),
 (datetime.date(2023, 1, 4), 7, Decimal('54.73')),
 (datetime.date(2023, 1, 4), 8, Decimal('0.00')),
 (datetime.date(2023, 1, 4), 9, Decimal('0.00')),
 (datetime.date(2023, 1, 4), 10, Decimal('16.07')),
 (datetime.date(2023, 1, 4), 11, Decimal('0.00')),
 (datetime.date(2023, 1, 4), 12, Decimal('0.00')),
 (datetime.date(2023, 1, 4), 14, Decimal('0.00')),
 (datetime.date(2023, 1, 4), 15, Decimal('0.00')),
 (datetime.date(2023, 1, 4), 16, Decimal('0.00')),
 (datetime.date(2023, 1, 4), 17, Decimal('0.00')),
 (datetime.date(2023, 1, 5), 1, Decimal('0.00')),
 (datetime.date(2023, 1, 5), 2, Decimal('0.00')),
 (datetime.date(2023, 1, 5), 3, Decimal('0.00')),
 (datetime.date(2023, 1, 5), 4, Decimal('0.00')),
 (datetime.date(2023, 1, 5), 6, Decimal('10.78')),
 (datetime.date(2023, 1, 5), 7, Decimal('54.73')),
 (datetime.date(2023, 1, 5), 8, Decimal('0.00')),
 (datetime.date(2023, 1, 5), 9, Decimal('0.00')),
 (datetime.date(2023, 1, 5), 10, Decimal('59.04')),
 (datetime.date(2023, 1, 5), 11, Decimal('0.00')),
 (datetime.date(2023, 1, 5), 12, Decimal('0.00')),
 (datetime.date(2023, 1, 5), 14, Decimal('0.00')),
 (datetime.date(2023, 1, 5), 15, Decimal('0.00')),
 (datetime.date(2023, 1, 5), 16, Decimal('56.73')),
 (datetime.date(2023, 1, 5), 17, Decimal('0.00')),
 (datetime.date(2023, 1, 6), 1, Decimal('0.00')),
 (datetime.date(2023, 1, 6), 2, Decimal('0.00')),
 (datetime.date(2023, 1, 6), 3, Decimal('0.00')),
 (datetime.date(2023, 1, 6), 4, Decimal('0.00')),
 (datetime.date(2023, 1, 6), 6, Decimal('30.19')),
 (datetime.date(2023, 1, 6), 7, Decimal('54.73')),
 (datetime.date(2023, 1, 6), 8, Decimal('0.00')),
 (datetime.date(2023, 1, 6), 9, Decimal('0.00')),
 (datetime.date(2023, 1, 6), 10, Decimal('59.04')),
 (datetime.date(2023, 1, 6), 11, Decimal('0.00')),
 (datetime.date(2023, 1, 6), 12, Decimal('0.00')),
 (datetime.date(2023, 1, 6), 14, Decimal('0.00')),
 (datetime.date(2023, 1, 6), 15, Decimal('0.00')),
 (datetime.date(2023, 1, 6), 16, Decimal('56.73')),
 (datetime.date(2023, 1, 6), 17, Decimal('0.00')),
 (datetime.date(2023, 1, 7), 1, Decimal('0.00')),
 (datetime.date(2023, 1, 7), 2, Decimal('0.00')),
 (datetime.date(2023, 1, 7), 3, Decimal('0.00')),
 (datetime.date(2023, 1, 7), 4, Decimal('0.00')),
 (datetime.date(2023, 1, 7), 6, Decimal('30.19')),
 (datetime.date(2023, 1, 7), 7, Decimal('54.73')),
 (datetime.date(2023, 1, 7), 8, Decimal('0.00')),
 (datetime.date(2023, 1, 7), 9, Decimal('0.00')),
 (datetime.date(2023, 1, 7), 10, Decimal('59.04')),
 (datetime.date(2023, 1, 7), 11, Decimal('0.00')),
 (datetime.date(2023, 1, 7), 12, Decimal('0.00')),
 (datetime.date(2023, 1, 7), 14, Decimal('0.00')),
 (datetime.date(2023, 1, 7), 15, Decimal('0.00')),
 (datetime.date(2023, 1, 7), 16, Decimal('56.73')),
 (datetime.date(2023, 1, 7), 17, Decimal('0.00')),
 (datetime.date(2023, 1, 8), 1, Decimal('0.00')),
 (datetime.date(2023, 1, 8), 2, Decimal('0.00')),
 (datetime.date(2023, 1, 8), 3, Decimal('0.00')),
 (datetime.date(2023, 1, 8), 4, Decimal('0.00')),
 (datetime.date(2023, 1, 8), 6, Decimal('30.19')),
 (datetime.date(2023, 1, 8), 7, Decimal('54.73')),
 (datetime.date(2023, 1, 8), 8, Decimal('0.00')),
 (datetime.date(2023, 1, 8), 9, Decimal('0.00')),
 (datetime.date(2023, 1, 8), 10, Decimal('59.04')),
 (datetime.date(2023, 1, 8), 11, Decimal('0.00')),
 (datetime.date(2023, 1, 8), 12, Decimal('0.00')),
 (datetime.date(2023, 1, 8), 14, Decimal('0.00')),
 (datetime.date(2023, 1, 8), 15, Decimal('0.00')),
 (datetime.date(2023, 1, 8), 16, Decimal('56.73')),
 (datetime.date(2023, 1, 8), 17, Decimal('0.00')),
 (datetime.date(2023, 1, 9), 1, Decimal('0.00')),
 (datetime.date(2023, 1, 9), 2, Decimal('0.00')),
 (datetime.date(2023, 1, 9), 3, Decimal('0.00')),
 (datetime.date(2023, 1, 9), 4, Decimal('0.00')),
 (datetime.date(2023, 1, 9), 6, Decimal('49.14')),
 (datetime.date(2023, 1, 9), 7, Decimal('54.73')),
 (datetime.date(2023, 1, 9), 8, Decimal('0.00')),
 (datetime.date(2023, 1, 9), 9, Decimal('0.00')),
 (datetime.date(2023, 1, 9), 10, Decimal('59.04')),
 (datetime.date(2023, 1, 9), 11, Decimal('0.00')),
 (datetime.date(2023, 1, 9), 12, Decimal('0.00')),
 (datetime.date(2023, 1, 9), 14, Decimal('0.00')),
 (datetime.date(2023, 1, 9), 15, Decimal('0.00')),
 (datetime.date(2023, 1, 9), 16, Decimal('56.73')),
 (datetime.date(2023, 1, 9), 17, Decimal('0.00')),
 (datetime.date(2023, 1, 10), 1, Decimal('0.00')),
 (datetime.date(2023, 1, 10), 2, Decimal('0.00')),
 (datetime.date(2023, 1, 10), 3, Decimal('0.00')),
 (datetime.date(2023, 1, 10), 4, Decimal('0.00')),
 (datetime.date(2023, 1, 10), 6, Decimal('61.13')),
 (datetime.date(2023, 1, 10), 7, Decimal('54.73')),
 (datetime.date(2023, 1, 10), 8, Decimal('0.00')),
 (datetime.date(2023, 1, 10), 9, Decimal('36.32')),
 (datetime.date(2023, 1, 10), 10, Decimal('59.04')),
 (datetime.date(2023, 1, 10), 11, Decimal('0.00')),
 (datetime.date(2023, 1, 10), 12, Decimal('0.00')),
 (datetime.date(2023, 1, 10), 14, Decimal('0.00')),
 (datetime.date(2023, 1, 10), 15, Decimal('0.00')),
 (datetime.date(2023, 1, 10), 16, Decimal('56.73')),
 (datetime.date(2023, 1, 10), 17, Decimal('0.00'))]